* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

nav {
  background-color: #002b48;
}
nav ul {
  display: flex;
  padding-left: 1rem;
  list-style-type: none;
}
nav ul li {
  padding: 0.5rem 1rem;
}
nav ul li a {
  color: white;
  text-decoration: none;
}

/* .left {
  text-align: left;
}
.right {
  text-align: right;
} */

a#link1 {
  background-color: skyblue;
  color: navy;
  padding: 1rem;
  border: 1px solid black;
}
